*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */

.navbar{
    background-color: #0D0939;
    height: 170px;
}
.navbar_text{
    display: flex;
    padding-top: 50px;
    padding-left: 200px;
   color: aliceblue;
}

.navbar_logo{
    display: flex;
    gap: 11px;
}
.navbar_logo_h{
color: #FFF;
font-family: Abhaya Libre SemiBold;
}

.navbar_text_p_div{
    display: flex;
    padding-left: 127px;
    gap: 25px;
}

.navbar_text_p{
color: rgba(255, 255, 255, 0.81);
text-align: center;
font-family: Abhaya Libre SemiBold;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 26px;
}

.navbar_btn_div{
    padding-left: 24px;
    gap: 15px;
}

.navbar_btn_bir{
width: 122px;
height: 44px;
flex-shrink: 0;

background-color: #0D0939;
border-radius: 60px;
border: 2px solid #9610FF;
box-shadow: 0px 9px 19px 0px rgba(0, 0, 0, 0.15);

color: #FFF;
text-align: center;
font-family: Abhaya Libre SemiBold;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 26px;
}

.navbar_btn_ikki{
width: 122px;
height: 44px;
flex-shrink: 0;

background-color: #0D0939;
border-radius: 60px;
border: 2px solid #456AE7;
box-shadow: 0px 9px 19px 0px rgba(0, 0, 0, 0.15);

color: #FFF;
text-align: center;
font-family: Abhaya Libre SemiBold;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 26px; 
}
/* now */

.now{
    display: flex;
    gap: 9px;
    padding-left: 200px;
    padding-top: 25px;
}

.now_p_bir{
color: #5B41F5;

text-align: center;
font-family: Abhaya Libre SemiBold;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 26px;
text-decoration-line: underline;
}

.now_img{
width: 10px;
height: 10px;
}

.now_p_ikki{
color: #FFF;
text-align: center;
font-family: Abhaya Libre SemiBold;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 26px;
}

/* MONE */

.mone{
    padding-top: 32px;
    padding-left: 200px;
}

.mone_div{
 width: 1138px;
height: 294px;
flex-shrink: 0;
border-radius: 7px;
background: #470cafe3;
}

.mone_title_h_img{
    display: flex;
    gap: 40px;
}
.mone_title_h_div{
padding-top: 50px;
color: #FFF;
}
.mone_title_h{
width: 837px;
height: 58px;
flex-shrink: 0;
text-align: center;
font-family: Abhaya Libre ExtraBold;
font-size: 128px;
font-style: normal;
font-weight: 800;
line-height: 52.5px; 
text-transform: uppercase;
}

/* Swipor */

.swipor{
    padding-top: 25px;
    padding-left: 200px;
}
.swipor_div{
    display: flex;
    gap: 20px;
}
.carousel {
width: 755px;
height: 407px;
flex-shrink: 0;
}

.swipor_mini_img{
width: 367px;
height: 194px;
flex-shrink: 0;
}
.swipor_mini_img_ikki{
width: 367px;
height: 194px;
flex-shrink: 0;
}

.swipor_mini_img_ikki_div{
    padding-top: 18px;
}
